html {
    background-color: #fff;
    color: #222;
    font-family: arial, sans-serif;
}

header {
    display:flex;
    padding: 5px;
    font-size: 14px;
}

#app-icon {
    margin: 16px 15px 0px 15px;
    position:relative;
}

.container {
    position:relative;
}

.highlight-app {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #bbb;
    border-radius: 50%;
    bottom: 9px;
    right: 8px;
    opacity: 0;
}

.highlight-app:hover {
    opacity: 0.3;
    cursor: pointer;
}

#git-icon {
    margin: 6px 10px 0px 5px;
    border-radius: 50%;
    border: 5px solid rgba(0,0,0,0.0);
}

#git-icon:hover {
    border: 5px solid rgba(0,0,0,0.15);
    cursor: pointer;
}

header .about-btn{
    margin: 15px 10px 5px 5px;
    border: 0;
    background: transparent;
    font-size: 14px;
    font-family: arial, sans-serif;
}

header .store-btn{
    margin: 15px 0px;
    border: 0;
    background: transparent;
    font-size: 14px;
    font-family: arial, sans-serif;
}

header .about-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

header .store-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

header .right-btns {
    margin-left:auto;
}

header .gmail-btn{
    margin: 15px;
    border: 0;
    background: transparent;
    font-size: 14px;
    font-family: arial, sans-serif;
}

header .images-btn{
    margin: 15px 0px;
    border: 0;
    background: transparent;
    font-size: 14px;
    font-family: arial, sans-serif;
}

header .gmail-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

header .images-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

footer {

}