html {
    background-color: #fff;
    color: #3c4043;
    font-family: arial, sans-serif;
}

header {
    display:flex;
    padding: 5px;
    color: #3c4043;
    font-size: 13px;
}

#app-icon {
    margin: 16px 15px 0px 15px;
    position:relative;
}

#google-logo {
    display: block;
    margin: 150px auto 25px;
}

#search-bar {
    border: 1px solid rgb(88, 86, 86);
    border-radius: 50px 50px 50px 50px;
    width: 575px;
    height: 45px;
    margin: 10px auto;
    opacity: 0.3;
}

#search-bar:hover {
    box-shadow: 0 0 5px 2px rgb(161, 157, 157);
}

#microphone-pic {
    position: absolute;
    top: 345px;
    left: 1210px;
}

#search-pic {
    position: absolute;
    top: 346px;
    left: 685px;
}

.search-bar-pics:hover {
    cursor: pointer;
}

input {
    position: absolute;
    top: 343px;
    left: 715px;
    width: 475px;
    height: 25px;
    border-color: transparent;
    outline: none;
}

.searchbar-btns {
    margin: 30px 810px;
}

.searchbar-btns button{
    text-align: center;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    border-color: transparent;
    border-radius: 4px;
    background-color: #f8f9fa;
}

.search-btn {
    width: 115px;
    height: 36px;
}

.lucky-btn {
    width: 135px;
    height: 36px;
}

.search-btn:hover {
    box-shadow: 0 0 1px 1px rgb(161, 157, 157);
    cursor: pointer;
}

.lucky-btn:hover {
    box-shadow: 0 0 1px 1px rgb(161, 157, 157);
    cursor: pointer;
}

.container {
    position:relative;
}

.highlight-app {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #bbb;
    border-radius: 50%;
    bottom: 11px;
    right: 8px;
    opacity: 0;
}

.highlight-app:hover {
    opacity: 0.3;
    cursor: pointer;
}

#git-icon {
    margin: 6px 10px 10px 10px;
    border-radius: 50%;
    border: 5px solid rgba(0,0,0,0.0);
}

#git-icon:hover {
    border: 5px solid rgba(0,0,0,0.15);
    cursor: pointer;
}

.left-btns button{
    border: 0;
    background: transparent;
    color: #3c4043;
    font-size: 13px;
    font-family: arial, sans-serif;
}

header .about-btn{
    margin: 15px 10px 5px 5px;
}

header .store-btn{
    margin: 15px 0px;
}

header .about-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

header .store-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

header .right-btns {
    margin-left:auto;
}


.right-btns button {
    border: 0;
    background: transparent;
    color: #3c4043;
    font-size: 13px;
    font-family: arial, sans-serif;
}

header .gmail-btn{
    margin: 15px 5px 5px 5px;
}

header .images-btn{
    margin: 15px 5px 5px 5px;
}

header .gmail-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

header .images-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 46px;
    background-color: #f2f2f2;
}

.left-footer button{
    border: 0;
    background: transparent;
    color: #70757a;
    font-size: 14px;
    font-family: arial, sans-serif;
}

.right-footer button{
    border: 0;
    background: transparent;
    color: #70757a;
    font-size: 14px;
    font-family: arial, sans-serif;
}

footer {
    display:flex;
    flex-direction: row;
}

.left-footer {
    display: flex;
    margin: 15px 15px 15px 35px;
}

.right-footer {
    display: flex;
    margin: 15px 15px 15px auto;
}

button + button {
    margin-left: 15px;
}
